@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Orbitron:wght@900&display=swap');
.login-txt
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #1A1A1A;
    margin: 0px;
    margin-bottom: 12px;
}

.login-msg
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    margin: 0px;
}

.forget-pass-txt
{
    margin-bottom: 32px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #D90429;
    margin-top: 12px;
}
.form-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin: auto;
}
.err-msg
{
    color: red;
    margin: 0px;
    position: absolute;
}

.create-acc-txt
{
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}
.loginPage
{
    height: 100vh;
    display: flex;
    background-color: #ffff;
}
.forget-pass-wrapper
{
    display: flex;
}

.InputComponent
{
    position: relative;
}
@media screen and (max-device-width: 767px)
{
    .loginPage
    {
        height: 100vh;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px)
{
    .loginPage
    {
        height: 100%;
    }
}